.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.container {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    gap: 10px;
    margin: 50px;
    width: 500px;
}

[class|="btn"] {
    background-color: #343F50;
    color: #CBD5DF;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #1A202C;
    width: 88px;
    height: 32px;
    box-shadow: inset 1px 1px #4A5568;
    cursor: pointer;
}

[class|="btn"]:hover {
    color: white;
    text-decoration: underline;
}

.btn-default:active {
    box-shadow: inset 1px 1px #262F3E;
}

.btn-positive {
    color: #439AFF;
}

.btn-positive:hover:enabled {
    background-color: #439AFF;
    box-shadow: inset 1px 1px #73B4FF;
    border: 1px solid #439AFF;
}

.btn-positive:active:enabled {
    box-shadow: inset 1px 1px #3B78BE;
}
    

.btn-negative {
    color: #EB5757;
}

.btn-negative:hover:enabled {
    border: 1px solid #EB5757;
    background-color: #EB5757;
    box-shadow: inset 1px 1px #FD6F6F;
}

.btn-negative:active:enabled {
    box-shadow: inset 1px 1px #D94242;
}

[class|="btn"]:disabled {
    box-shadow: none;
    border: none;
    color: #4A5568;
    border: 1px solid #343F50;
    text-decoration: none;
}