/* reset */
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  box-sizing: border-box;
}

h1, h2, h3, p,
ul, li, button,
body, div, nav, img {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

button, form, input {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: inherit;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* ------------------------------- header */
header {
  background: #F2E9D8;
}

.nav-wrapper,
.section-header {
  max-width: 1280px;
  margin: auto;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 0px;
  align-items: center;
}
.nav-wrapper h1 img {
  height: 40px;
}
.nav-wrapper .list-top {
  display: flex;
}
.nav-wrapper .list-top li:not(:last-child) {
  font-size: 16px;
  padding: 10px 15px;
}
.nav-wrapper .list-top a {
  vertical-align: -5px;
}
.nav-wrapper .btn-nav {
  display: none;
  background-color: transparent;
  padding: 0;
  width: 24px;
  height: 20px;
  border-top: 2px solid #263140;
  border-bottom: 2px solid #263140;
  border-radius: 0;
  position: relative;
  margin-right: 4px;
}
.nav-wrapper .btn-nav::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 1.5px;
  transform: translateY(-0.5px);
  background-color: #263140;
  left: 0;
}
[class^=btn] {
  font-size: 16px;
  background: #D97652;
  color: white;
  padding: 15px 30px;
  border-radius: 40px;
}

[class^=btn]:hover {
  background: white;
  color: #F29D52;
  box-shadow: inset 0 0 0 3px #F29D52;
}

.nav-wrapper .btn-download {
  margin-left: 25px;
}

.section-header {
  padding: 32px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header h2 {
  max-width: 720px;
  font-size: 48px;
  font-weight: 700;
}
.section-header p {
  max-width: 440px;
  margin: 40px 0;
  font-size: 16px;
  line-height: 25px;
}

/* ------------------------------- header-media */
@media (max-width: 1279px) {
  .nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .section-header .text-wrapper {
    padding-left: 30px;
  }
  .section-header img {
    width: min(50%, 415px);
  }
}
@media (max-width: 757px) {
  [class^=btn] {
    font-size: 14px;
    padding: 11px 24px;
  }
  .nav-wrapper .list-top {
    display: none;
  }
  .nav-wrapper .btn-nav {
    display: inline-block;
  }
  .section-header {
    flex-direction: column;
    text-align: center;
    padding: 40px 32px 0px;
  }
  .section-header .text-wrapper {
    padding: 0px;
  }
  .section-header h2, .section-header p {
    width: 280px;
    margin: auto;
    margin-bottom: 30px;
  }
  .section-header h2 {
    font-size: 24px;
  }
  .section-header p {
    font-size: 14px;
  }
  .section-header .btn-download {
    margin-bottom: 30px;
  }
  .section-header img {
    width: 197px;
  }
}
/* ------------------------------- mobile nav */
.nav-wrapper-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 10;
}
.nav-wrapper-mobile.on {
  display: block;
}

.article-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background: #263140;
  color: white;
  size: 16px;
  font-weight: 700;
  padding: 30px;
}
.article-nav .btn-close {
  margin-bottom: 72px;
  background: transparent;
  border-radius: 0;
  width: 15px;
  height: 15px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  padding: 0;
  position: relative;
}
.article-nav .btn-close::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 3px;
  background: white;
  transform: rotate(-45deg) translate(-5px, -7px);
}
.article-nav .list-top {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.article-nav .list-top li {
  margin-bottom: 30px;
}
.article-nav .list-top .btn-download {
  margin: 0px;
  margin-top: 20px;
}

/* ------------------------------- main */
.section-introduce {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 80px;
  align-items: center;
}
.section-introduce img {
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  max-width: 660px;
}
.section-introduce .text-wrapper {
  max-width: 510px;
  margin-right: 20px;
}
.section-introduce h3 {
  font-size: 36px;
  margin-bottom: 30px;
}
.section-introduce p {
  font-size: 16px;
}

.section-detail {
  margin: auto;
  text-align: center;
  padding: 120px 0px 60px;
  max-width: 1280px;
}
.section-detail h3 {
  font-size: 48px;
  color: #D97652;
  margin-bottom: 30px;
}
.section-detail p {
  font-size: 16px;
  max-width: 740px;
  margin: auto;
  padding: 0px 32px 88px;
}
.section-detail strong {
  color: #D97652;
}
.section-detail .list-img {
  margin: auto;
  white-space: nowrap;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
}
.section-detail .list-img img {
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

.section-learnMore {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 90px;
}
.section-learnMore p {
  font-size: 16px;
  max-width: 740px;
}
.section-learnMore .btn-learnMore {
  width: 147px;
  flex-shrink: 0;
  align-self: center;
}

/* ------------------------------- main-media */
@media (max-width: 1279px) {
  .section-introduce {
    padding-left: 32px;
    padding-right: 32px;
  }
  .section-introduce img {
    width: 60%;
    margin-right: 32px;
  }
  .section-detail {
    padding-left: 32px;
  }
  .section-detail h3 {
    padding-right: 32px;
  }
  .section-detail .list-img {
    overflow-x: scroll;
    gap: 32px;
  }
  .section-learnMore {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 757px) {
  .section-introduce {
    padding: 40px 32px 0px;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  .section-introduce img {
    width: 100%;
    margin: 0;
  }
  .section-introduce h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .section-introduce p {
    font-size: 14px;
  }
  .section-detail {
    padding: 60px 0px 40px 0px;
  }
  .section-detail h3 {
    font-size: 24px;
  }
  .section-detail p {
    font-size: 14px;
  }
  .section-detail .list-img {
    padding: 32px;
    gap: 20px;
  }
  .section-detail .list-img img {
    width: 260px;
  }
  .section-learnMore {
    padding: 60px 32px 50px;
    flex-direction: column;
  }
  .section-learnMore .btn-learnMore {
    width: 130px;
    align-self: flex-end;
  }
}
/* ------------------------------- article: subscribe */
.article-subscribe {
  width: 1280px;
  padding: 50px 58px;
  margin: auto;
  color: white;
  background: #263140;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-subscribe .text-wrapper {
  max-width: 490px;
}
.article-subscribe h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.article-subscribe p {
  font-size: 14px;
  line-height: 20px;
}
.article-subscribe .form-subscribe {
  position: relative;
}
.article-subscribe .form-subscribe::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 16px;
  top: 23px;
  left: 30px;
  background: url(../img/icon-mail.svg) no-repeat 0 0/contain;
}
.article-subscribe .form-subscribe .input-email {
  color: black;
  font-size: 16px;
  width: 530px;
  padding: 20px 150px 20px 68px;
  border-radius: 60px;
  background: white;
}
.article-subscribe .form-subscribe .btn-subscribe {
  position: absolute;
  transform: translate(calc(-100% - 5px), 5px);
}

@media (max-width: 1279px) {
  .article-subscribe {
    width: calc(100% - 64px);
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .article-subscribe .form-subscribe {
    width: 100%;
    text-align: center;
  }
  .article-subscribe .form-subscribe::before {
    left: calc((100% - 530px) / 2 + 30px);
  }
}
@media (max-width: 757px) {
  .article-subscribe {
    border-radius: 18px;
  }
  .article-subscribe .text-wrapper h3 {
    font-size: 24px;
  }
  .article-subscribe .form-subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .article-subscribe .form-subscribe::before {
    top: 13px;
    left: 15px;
    width: 15px;
    height: 12px;
  }
  .article-subscribe .form-subscribe .input-email {
    width: 100%;
    padding: 12px 20px 12px 40px;
    font-size: 12px;
  }
  .article-subscribe .form-subscribe .btn-subscribe {
    position: initial;
    transform: none;
    margin-top: 20px;
  }
}
/* ------------------------------- footer */
footer {
  max-width: 1280px;
  padding: 45px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 240px;
}
footer .sns-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .sns-wrapper h2 img {
  height: 70px;
}
footer .sns-wrapper .list-sns {
  display: flex;
  gap: 20px;
}
footer .list-footer {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
  gap: 16px;
  font-size: 14px;
  color: #767676;
}
footer:before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 340px;
  left: 0;
  background: url(../img/cat-bg.png) no-repeat center/cover;
  transform: translateY(-250px);
  z-index: -1;
}

/* ------------------------------- footer-media */
@media (max-width: 1279px) {
  footer {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 200px;
  }
}
@media (max-width: 757px) {
  footer {
    margin-top: 150px;
  }
  footer:before {
    height: 240px;
    transform: translateY(-240px);
  }
  footer .sns-wrapper {
    flex-direction: column;
    gap: 58px;
    align-items: flex-start;
  }
  footer .sns-wrapper h2 img {
    height: 40px;
  }
  footer .sns-wrapper .list-sns {
    display: flex;
    gap: 16px;
  }
  footer .sns-wrapper .list-sns img {
    width: 32px;
  }
  footer .list-footer {
    display: flex;
  }
}
/* ------------------------------- modal */
.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}
.modal-wrapper.on {
  display: block;
}

.article-modal {
  width: 600px;
  height: 400px;
  background: url(../img/modal-bg.png) no-repeat 0 0/cover;
  border-radius: 30px;
  text-align: center;
  padding: 60px 108px 40px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.article-modal img {
  margin-bottom: 24px;
}
.article-modal h3 {
  font-size: 36px;
  color: #D97652;
  margin-bottom: 12px;
}
.article-modal p {
  font-size: 14px;
  margin-bottom: 30px;
}

@media (max-width: 757px) {
  .article-modal {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    padding: 40px 50px 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    background-color: #F2E9D8;
    background-size: contain;
    transform: translateX(-50%);
  }
  .article-modal img {
    width: 60px;
  }
  .article-modal h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .article-modal p {
    margin-bottom: 23px;
  }
}
/* ------------------------------- button scroll */
.btn-scroll {
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid #C4C4C4;
  border-radius: 25px;
  padding: 0;
  position: fixed;
  bottom: 184px;
  right: 40px;
}
.btn-scroll::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 3px solid #C4C4C4;
  border-left: 3px solid #C4C4C4;
  transform: translate(-6px, -3px) rotate(45deg);
}
.btn-scroll:hover::after {
  border-top: 3px solid #767676;
  border-left: 3px solid #767676;
}

@media (max-width: 757px) {
  .btn-scroll {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */