.wrapper {
    margin-top: 100px;
}

div img {
    vertical-align: top;
}

img, h1, p {
    margin: 0px;
}

div.section {
    background-color: #94582E;
    background-image: url("images/green.png");
    background-repeat: no-repeat;
    background-position: top 50px;
    width: 240px;
    padding: 20px;
    color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 8px 0px #4A270B;
    margin-right: 0px;
}

h1 {
    margin: 40px 0px 10px 0px;
}

p {
    margin-bottom: 10px;
    line-height: 20px;
    color: #e7c0a7;
}