/* ------------------------------ footer */
footer {
    padding: 130px 0 50px;
    text-align: center;
}

footer p {
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    margin-top: 20px;
}

@media (max-width: 800px) {
    footer {
        padding: 83px 0 30px; 
    }
    footer img {
        width: 91px;
    }
    footer p {
        font-size: 9px;
        margin-top: 17px;
    }
}