/* common */
:root {
    --border-color: #C4C4C4;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* reset */
* {
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo';
}

h1, h2, p, form, input, label, button, a, ul, li, fieldset {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

fieldset, input {
    border: none;
    background: none;
    font: inherit;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: #F2F2F2;
}

/* section: login */
.login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.section-login {
    width: 500px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    text-align: center;
    padding: 40px 30px 30px;
    background: white;
}

.section-login h1 {
    margin-bottom: 36px;
}

.section-login p {
    margin-bottom: 32px;
}

.section-login button {
    width: 100%;
    background: #2F80ED;
    padding: 16px;
    font-size: 22px;
    color: white;
    border-radius: 5px;
}


/* article: modal */
.article-modal {
    display: none;
    width: 520px;
    margin: 200px auto;
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    /* z-index: 10; */
}

.article-modal::before {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .7;
    z-index: -1;
}

.article-modal.on {
    display: block;
}

.article-modal header {
    position: relative;
    padding: 20px 0 18px;
    border-bottom: 1px solid var(--border-color);
}

.article-modal h2 {
    font-size: 16px;
    font-weight: 500;
    text-align: center; 
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 24px;
}

/* section: direct login */
.section-directLogin {
    padding: 26px 24px 30px;
}

.p-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

.input-id, .input-pw {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 15px 16px;
    /* margin-bottom: 10px; */
    font-size: 16px;
}

.error .input-id {
    border: 2px solid #F4492E;
}

.strong-error {
    display: none;
    color: #F4492E;
    font-weight: 400;
    margin: 6px 0 0 5px;
}


.error .strong-error {
    display: block;
}

.input-pw {
    margin-top: 10px;
}

.input-staySignedIn {
    appearance: none;
    width: 22px;
    height: 22px;
    background: url(./img/icon-unchecked.svg) no-repeat center / 100%;
    vertical-align: -5px;
    cursor: pointer;
}

.input-staySignedIn:checked {
    background: url(./img/icon-checked.svg) no-repeat center / 100%;
}

.label-staySignedIn {
    display: inline-block;
    margin-top: 13px;
    cursor: pointer;
}

.label-staySignedIn {
    color: #767676;
    font-size: 16px;
}

.btn-login {
    width: 100%;
    color: white;
    background: #2F80ED;
    border-radius: 5px;
    padding: 14px 0;
    margin: 21px 0 20px;
}

.div-joinOrFind {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.div-joinOrFind span:after {
    content: "|";
    color: #767676;
}

.div-joinOrFind > a {
    font-size: 14px;
    color: #767676;
}

/* section: sns login */
.section-snsLogin {
    padding: 0px 24px 25px;
}

.p-or::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 45%;
    height: 1px;
    background: var(--border-color);
    top: 45%;
    left: 0;
}

.p-or {
    color: #767676;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.p-or::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 45%;
    height: 1px;
    background: var(--border-color);
    top: 45%;
    right: 0;
}

.ul-snsLogin li button {
    width: 100%;
    color: #767676;
    font-size: 16px;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-google {
    border: 1px solid #767676;
    position: relative;
}

.btn-google:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 14px;
    width: 22px;
    height: 22px;
    background: url(./img/sns-retina.png) no-repeat -37px -5px / 86px 63px;
}

.btn-facebook {
    border: 1px solid #2D9CDB;
    position: relative;
}

.btn-facebook:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 14px;
    width: 13px; 
    height: 24px;
    background: url(./img/sns-retina.png) no-repeat -68px -5px/ 86px 63px;
}

.btn-naver {
    border: 1px solid #00BF18;
    position: relative;
}

.btn-naver:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 14px;
    width: 22px;
    height: 22px;
    background: url(./img/sns-retina.png) no-repeat -5px -5px / 86px 63px;;
}

.btn-kakao {
    border: 1px solid #F2C94C;
    position: relative;
}

.btn-kakao:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 14px;
    width: 22px;
    height: 22px;
    background: url(./img/sns-retina.png) no-repeat -5px -37px / 86px 63px;;
}