/* common */
h1, p, ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

button {
    background: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* ---------- header ---------- */
header nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* ---------- main ---------- */ 
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 23px;
    align-items: center;
}

.movie-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- footer ---------- */

