/* ---------------- main ---------------- */
main {
    display: flex;
    /* 변동값 20px 0px */
    gap: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ---------------- section: 밴딩 머신 */
.drink-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.left-over-form {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.payment-form {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.current-cart-form {
    display: flex;
    gap: 12px;
}

.current-cart {
    overflow: scroll;
} 

/* ---------------- section: 영수증 */
.ready-money span {
    float: right;
}

.total-price {
    text-align: right;
}

.final-cart-wrapper {
    overflow-y: scroll;
}

/* ---------------- 공통 */
[class$="cart"] .cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

[class$="cart"] .cart-item .drink-count {
    margin-left: auto;
}

@media(max-width: 768px) {
    main {
        flex-direction: column;
        gap: 0px;
        position: static;
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }
}

@media(max-height: 850px) {
    main {
        position: static;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        margin: auto;
    }
}