:root {
    --purple-color: #5B2386;
    --yellow-color: #F5DF4D;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'GmarketSansMedium';
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input {
    background: none;
    border: none;
}

@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: var(--purple-color);
}


/* ------------------------------ header */
header {
    margin: 155px auto 0px;
    width: 530px;
    padding-top: 40px;
    background: url("./img/clock.png") no-repeat center -15px / 225px;
}

header img {
    width: 100%;
}

header h2 {
    margin: 125px auto 0;
    text-align: center;
    color: var(--yellow-color);
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    font-weight: 700;
}

header p {
    margin: 78px auto 0;
    text-align: center;
    color: white;
    font-size: 18px;
    background: url("./img/quotes.png") no-repeat top center;
}

header p strong {
    font-size: 24px;
    font-weight: 700;
}

/* ------------------------------ main */
main button {
    color: var(--purple-color);
    padding: 21px 49px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 56px;
}

.btn-result, .btn-go {
    background: var(--yellow-color);
}

.btn-result:hover, .btn-go:hover {
    background: white;
}

.btn-result {
    position: relative;
    margin-top: 115px;
}

.btn-result:after {
    content: "";
    display: inline-block;
    background: url("./img/click.png") no-repeat 0 0 / cover;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -50px;
    bottom: -10px;
}

.btn-go {
    margin-right: 18px;
}

.btn-share {
    background: white;
}

section {
    margin: 102px auto 0px;
    text-align: center;
}

.section-form p {
    color: white;
    font-size: 24px;
}

.section-form input {
    background-color: white;
    color: var(--purple-color);
    border-radius: 7px;
    padding: 17px 40px;
    font-size: 24px;
    text-align: center;
    width: 228px;
}

.section-form input::placeholder {
    color: #BABCBE;
}

.section-result {
    margin-top: 147px;
    color: white;
}

.section-result p {
    font-size: 24px;
    word-spacing: 10px;
}

.section-result strong {
    font-weight: 700;
    font-size: 72px;
}

.section-result .btn-wrapper {
    margin-top: 127px;
}

/* ------------------------------ footer */
footer {
    margin: 130px 0 50px;
    text-align: center;
}

footer p {
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    margin-top: 20px;
}